<%- include('../fragments/head.ejs'); -%>
<%- include('../fragments/header.ejs'); -%>
<div class="cv">
    <div class="cv__inner">
        <div class="cv__card">
            <div class="cv__card__inner">
                <% if (course_draw) { %>
                    <%- include('../fragments/cv_courses.ejs'); -%>
                <% } else { %>
                    <%- include('../fragments/cv_profile.ejs'); -%>
                    <div class="cvitem__container">
                        <%- include('../fragments/cv_item.ejs', {datashard: cv.education}); -%>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.projects.title[lang] %></h3>
                                <% cv.list_project.forEach(id => { %>
                                <% data.projects.data.forEach(type => { %>
                                <% type.data.forEach(project => { %>
                                <% if(id == project.id) { %>
                                    <%- include('../fragments/project.ejs', {project: project}) -%>
                                <% } %>
                                <% }); %>
                                <% }); %>
                                <% }); %>
                                <a href="/projects<%= hreftail %>">
                                    <p class="projects__seeall"><%= data.projects.see_all[lang] %></p>
                                </a>
                            </div>
                        </div>
                        <%- include('../fragments/cv_item.ejs', {datashard: cv.experience}); -%>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('../fragments/footer.ejs'); -%>
<%- include('../fragments/tail.ejs'); -%>