<%- include('../margins/head.ejs'); -%>
<%- include('../margins/header.ejs'); -%>
<div class="cv">
    <div class="cv__inner">
        <div class="cv__card">
            <% if (locals.course_draw) { %>
                <%- include('../fragments/courses.ejs'); -%>
            <% } else { %>
                <%- include('../fragments/profile.ejs'); -%>
                <div class="cvitem__container">
                    <%- include('../fragments/cvitem.ejs', {datashard: data.education}); -%>
                    <% if (!(locals.params.basic == "true")) { %>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.projects.title[lang] %></h3>
                                <% data.cv.list_project.forEach(id => { %>
                                <% data.projects.data.forEach(type => { %>
                                <% type.data.forEach(project => { %>
                                <% if(id == project.id) { %>
                                    <%- include('../fragments/project.ejs', {project: project}) -%>
                                <% } %>
                                <% }); %>
                                <% }); %>
                                <% }); %>
                                <a href="/projects">
                                    <p class="projects__seeall"><%= data.projects.see_all[lang] %></p>
                                </a>
                            </div>
                        </div>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.info.skills.header[lang] %></h3>
                                <%- include('../fragments/skills.ejs'); -%>
                            </div>
                        </div>
                    <% } %>
                    <%- include('../fragments/cvitem.ejs', {datashard: data.experience}); -%>
                    <% if (data.info.references.data.length != 0) { %>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.info.references.header[lang] %></h3>
                                <div class="reference__container">
                                    <% data.info.references.data.forEach(item => { %>
                                        <div class="reference__inner">
                                            <p class="reference__name"><%= item.name %></p>
                                            <p class="reference__place"><%= item.place %></p>
                                            <p class="reference__contact"><%= item.contact %></p>
                                        </div>
                                    <% }); %>
                                </div>    
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
</div>
<%- include('../margins/footer.ejs'); -%>
<%- include('../margins/tail.ejs'); -%>