<%- include('../fragments/head.ejs'); -%>
<%- include('../fragments/header.ejs'); -%>
<div class="cv">
    <div class="cv__inner">
        <div class="cv__card">
            <div class="cv__card__inner">
                <% if (course_draw) { %>
                    <%- include('../fragments/cv_courses.ejs'); -%>
                <% } else { %>
                    <%- include('../fragments/cv_profile.ejs'); -%>
                    <div class="cvitem__container">
                        <%- include('../fragments/cv_item.ejs', {data: data.education}); -%>
                        <%- include('../fragments/cv_projects.ejs'); -%>
                        <%- include('../fragments/cv_item.ejs', {data: data.experience}); -%>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<%- include('../fragments/footer.ejs'); -%>
<%- include('../fragments/tail.ejs'); -%>