<%- include('../margins/head.ejs'); -%>
<% if (!pdf) { %>
    <%- include('../margins/header.ejs'); -%>
<% } %>
<div class="cv">
    <div class="cv__inner">
        <% if (!pdf) { %>
            <div class="cv__card">
        <% } %>
            <div class="cv__card__inner">
                <% if (!pdf) { %>
                    <a class="pdf" href="/Mikolaj%20Cymcyk%20<%= lang %>.pdf">PDF</a>
                <% } %>
                <% if (locals.course_draw) { %>
                    <%- include('../fragments/courses.ejs'); -%>
                <% } else { %>
                    <%- include('../fragments/profile.ejs'); -%>
                    <div class="cvitem__container">
                        <%- include('../fragments/cvitem.ejs', {datashard: data.education}); -%>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.projects.title[lang] %></h3>
                                <% data.cv.list_project.forEach(id => { %>
                                <% data.projects.data.forEach(type => { %>
                                <% type.data.forEach(project => { %>
                                <% if(id == project.id) { %>
                                    <%- include('../fragments/project.ejs', {project: project}) -%>
                                <% } %>
                                <% }); %>
                                <% }); %>
                                <% }); %>
                                <a href="/projects<%= hreftail %>">
                                    <p class="projects__seeall"><%= data.projects.see_all[lang] %></p>
                                </a>
                            </div>
                        </div>
                        <div class="cvitem">
                            <div class="cvitem__innerhead">
                                <h3 class="cvitem__header"><%= data.info.skills.header[lang] %></h3>
                                <%- include('../fragments/skills.ejs'); -%>
                            </div>
                        </div>
                        <%- include('../fragments/cvitem.ejs', {datashard: data.experience}); -%>
                    </div>
                <% } %>
            </div>
        <% if (!pdf) { %>
            </div>
        <% } %>
    </div>
</div>
<% if (!pdf) { %>
<%- include('../margins/footer.ejs'); -%>
<% } %>
<%- include('../margins/tail.ejs'); -%>