<%- include('../fragments/head.ejs'); -%>
<%- include('../fragments/header.ejs'); -%>
<div class="error__container">
    <div class="error">
        <div class="error__parent">
            <p class="error__message"><%= error_message_1 %></p>
            <p class="error__message"><%= error_message_2 %></p>
        </div>
    </div>
</div>
<%- include('../fragments/footer.ejs'); -%>
<%- include('../fragments/tail.ejs'); -%>