<%- include('../margins/head.ejs'); -%>
<%- include('../margins/header.ejs'); -%>
<div class="error__container">
    <div class="error">
        <div class="error__parent">
            <p class="error__message"><%= error.error %></p>
            <p class="error__message"><%= error.message[lang] %></p>
        </div>
    </div>
</div>
<%- include('../margins/footer.ejs'); -%>
<%- include('../margins/tail.ejs'); -%>