<%- include('../margins/head.ejs'); -%>
<%- include('../margins/header.ejs'); -%>
<div class="content">
    <div class="content__container">
        <div class="content__inner">
            <div class="projects">
                <div class="projects__header">
                    <h1 class="projects__title"><%= data.projects.title[lang] %></h1>
                    <h2 class="projects__subtitle"><%= data.projects.subtitle[lang] %></h2>
                </div>
                <div class="projects__content">
                    <% data.projects.data.forEach(type => { %>
                        <div class="projects__inner">
                            <h2 class="projects__type"><%= type.type[lang] %></h2>
                            <% type.data.forEach(project => { %>
                                <%- include('../fragments/project.ejs', {project: project}) -%>
                            <% }); %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../margins/footer.ejs'); -%>
<%- include('../margins/tail.ejs'); -%>