<div class="cvitem">
    <div class="cvitem__innerhead">
        <h3 class="cvitem__header"><%= projects.title[lang] %></h3>
        <% data.list_project.forEach(id => { %>
        <% projects.data.forEach(type => { %>
        <% type.data.forEach(project => { %>
        <% if(id == project.id) { %>
            <div class="project">
                <div class="project__inner">
                    <% if (project.img) { %>
                        <div class="project__imgcontainer">
                            <a href="<%= project.href %>" class="project__imghref">
                                <img class="project__img" src="<%= project.img %>">
                            </a>
                        </div>
                    <% } %>
                    <div class="project__content">
                        <div class="project__content__content">
                            <% if (project.course) { %>
                                <h3 class="project__name"><%= project.name[lang] %>: <%= project.course[lang] %></h3>
                            <% } else { %>
                                <h3 class="project__name"><%= project.name[lang] %></h3>
                            <% } %>
                            <p class="project__description"><%= project.description[lang] %></p>
                        </div>
                        <a href="<%= project.repo %>"><p class="project__content__repolink"><%= projects.repo_text[lang] %></p></a>
                    </div>
                </div>
            </div>
        <% } %>
        <% }); %>
        <% }); %>
        <% }); %>
    </div>
</div>