<div class="cvitem">
    <div class="cvitem__innerhead">
        <h3 class="cvitem__header"><%= datashard.title[lang] %></h3>
        <% datashard.data.forEach(element => { %>
            <div class="cvitem__item">
                <div class="cvitem__title">
                    <h3 class="cvitem__place"><%= element.title[lang] %></h3>
                    <% if (element.start != element.end) { %>
                        <% if (typeof element.end == "string") { %>
                            <h3 class="cvitem__time"><%= element.start %> - <%= element.end %></h3>
                        <% } else { %>
                            <h3 class="cvitem__time"><%= element.start %> - <%= element.end[lang] %></h3>
                        <% } %>
                    <% } else { %>
                        <h3 class="cvitem__time"><%= element.start %></h3>
                    <% } %>
                </div>
                <div class="cvitem__content">
                    <div class="cvitem__inner">
                    <% if (element.sub_subtitle) { %>
                        <h3 class="cvitem__subtitle"><%= element.subtitle[lang] %> - <%= element.sub_subtitle[lang] %></h3>
                    <% } else { %>
                        <h3 class="cvitem__subtitle"><%= element.subtitle[lang] %></h3>
                    <% } %>
                        <p class="cvitem__description"><%= element.description[lang] %></p>
                        <% if (element.href) { %>
                            <a href="<%= element.href %>">
                                <p class="cvitem__allcourses"><%= element.href_description[lang] %></p>
                            </a>
                        <% } %>
                    </div>
                    <div class="cvitem__image">
                        <img src="<%= element.img %>">
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>